
.cf:before, .cf:after {
    content:" ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.menu {
    list-style:none;
    margin: 50px auto;
    min-width: 100vh;
    max-width: 100%;
    background: #3b5998;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top:0;
    box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);


}

@media screen and (max-width: 678px){
    .menu{
        display: none;}
    }

.menu > li {
    align-content: center;
    float: left;
    display: block;
}
.menu a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    align-content: center;
    justify-content: center;
}
.menu li:hover {
    background: white;
}
.menu > li > a {
    padding: 1em 2em;
}


#navbar ul {
    list-style-type: none;
    display: table;
    float: left;
    text-align: center;
}
.submenu > li > a {
    padding: 1em 2em;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;

}
.submenu > li::after {
    content:'';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

.bgimage{
    background-image: url('../images/bk3.png');
    mso-page-scale: ;
    background-repeat: no-repeat;
    color: white;
    float: right;
    display: fixed;



}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.logotext{
    color: 3b5998;
    font-family: Arial;
    margin-left: 2%;
}

.servicesbox{
    margin-left: auto;
    margin-right: auto;
    max-width: 100;
}

.landing{
    margin-top:-5%;
}
