.subheader {
    position: relative;
    min-width: 100%;
    display: flex;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #333333;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.subheader li {
    float: left;
}

.subheader li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.subheader li a:hover {
    background-color: #111111;
}


.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

